*{
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
.logo-header-set{
    width: 300px;
    padding-left: 1rem;
}
.logo-footer-set{
    width: 300px;
    padding-left: 2rem;
}

.bg-blue {
    background-color: #2F60AD ;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.menu-set{
    padding: 0 15px;
}
.text-muted {
    color: #fff !important;
}
.line{
    height: 50px;
    padding: 10px 0;
    border-top: 1px #fff solid;
}
.bg-short{
    background-color: #E3F2FD;
}
.img-set{
    width: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.box-set{
    border-radius: 10px;
    background-color: #fff;
    width: 126px;
    height: 119px;
    display: grid;
    align-content: space-evenly;
}
h7{
    font-size: 14px;
    color: #343434;
}
