@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

a:hover {
    color: #545454;
    text-decoration: none;
}

h5 {
    font-size: 20px;
}

.container {
    display: block;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.bg-blue {
    background-color: #2F60AD;
}

.bg-short {
    background-color: #E3F2FD;
}

/* css header */
.logo-header-set {
    width: 300px;
}

.top-menu {
    flex: auto;
}

.font-s {
    font-size: 13px;
}

.font-m {
    font-size: 16px;
}

.font-l {
    font-size: 19px;
}

.nav-color {
    color: #343434;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: #2F60AD;
    border-color: rgba(255, 255, 255, 0.1);
}

.layout {
    display: flex;
    justify-content: end;
    align-items: end;
}

.menu-set {
    padding-inline: 12px;
}

/* css footer */
.logo-footer-set {
    width: 350px;
}

.txtcolor-white {
    color: #fff;
}

.line {
    height: 50px;
    padding: 10px 0;
    border-top: 1px #fff solid;
}

a.foot:hover {
    color: #fff;
    text-decoration: underline;
}

/* css slide shortcut */
.img-set {
    width: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.box-set {
    border-radius: 10px;
    background-color: #fff;
    width: 126px;
    height: 119px;
    display: grid;
    align-content: space-evenly;

}

.text_shortcut {
    font-size: 14px;
    color: #343434;
}

.carousel-indicators li {
    background-color: #D9D9D9;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    border-top: 0px;
    border-bottom: 0px;
}

.carousel-indicators .active {
    background-color: #A5A3A3;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 10px;
    height: 10px;
}

/* css news */
.btn-all {
    background-color: #2F60AD;
    border-radius: 50px;
    border: 1px solid #fff;
    width: 130px;
    height: 45px;
}

.text_all-btn {
    font-size: 20px;
    color: #fff;
}

.color-topic {
    color: #2F60AD;
}

.color-topic2 {
    color: #545454;
}


.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 0px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #fff;
}

.nav-tabs .nav-link.active {
    border-bottom: 5px solid #2F60AD;
}

.nav-tabs {
    border-bottom: none;
}

.img-news {
    height: max-content;
    width: -webkit-fill-available;
    border-radius: 10px 10px 0 0;
}

.text_news {
    color: #343434;
}

.text_news:hover {
    color: #545454;
    text-decoration: none;
}

.date-view {
    font-size: 14px;
    color: #C6C1C1;
}

.card-news {
    border-radius: 10px;
}

.card-img-top {
    width: 140px;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 10px solid #D9D9D9;
}

/* css ebook */
.icon-dowload {
    color: #2F60AD;
}

.card {
    border: none;
}

/* css slide agency */
.agency-img {
    border-radius: 10px;
    width: 255px;
    margin-left: auto;
    margin-right: auto;
}

.set-carousel {
    bottom: -50px;
}

iframe.youtube {
    width: -webkit-fill-available;
}


@media (max-width: 575.98px) {
    .color-topic {
        text-align: center;
    }

    .color-topic2 {
        text-align: center;
    }

    .fs-18 {
        font-size: 18px;
    }

    .p-topic {
        padding: 0 6px;
    }

    .jus-center {
        justify-content: center;
    }

    .img-news {
        width: -webkit-fill-available;
    }

    .btn-center {
        justify-content: center;
        display: flex;
    }

    .display-logo {
        display: none;
    }

    .logo-header-set {
        width: 200px;
    }

    .layout {
        display: flex;
        justify-content: start;
        align-items: center;
        align-content: flex-end;
        flex-direction: row;
    }

    .logo-footer-set {
        max-width: 250px;
    }

    .text_shortcut {
        font-size: 12px;

    }

    .box-set {
        width: 100px;
        height: 90px;

    }

    .card-img-top {
        width: 120px;
    }

    h5 {
        font-size: 16px;
    }

    .date-view {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .display-logo {
        display: none;
    }

    .img-set {
        width: 40px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .box-set {
        border-radius: 10px;
        background-color: #fff;
        width: 100px;
        height: 100px;
        display: grid;
        align-content: space-evenly;

    }

    .text_shortcut {
        font-size: 12px;
        color: #343434;
    }

    .layout {
        justify-content: center;
    }

    .img-news {
        width: -webkit-fill-available;
        height: max-content;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-expand-lg>.container-fluid {
        display: none;
    }

    .container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    }

    .menu-set {
        padding: 0;
    }

}

@media (min-width: 1200px) {
    .navbar-expand-lg>.container-fluid {
        display: none;
    }
}

@media (min-width: 375px) and (max-width: 424.98px) {
    .box-set {
        width: auto;
        height: 90px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {
    .box-set {
        width: auto;
        height: 90px;
    }
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 25px;
    float: left;
    width: 80%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
}